<div class="container">
    <div class="row justify-content-center">
        <a href="/projects/{{project_id}}/new" class="btn btn-primary" id="projectsBtn">Create new Task</a>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <br>
            <h1 class="col-title">To Do</h1>
            <hr>
            {{#each tasks}}
            {{#equal status "to-do"}}
            <div class="card" data-project-id={{project_id}}>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p style="text-align: center;"> Due Date: {{readableDate due_date}}</p>
                    <select class="target">
                        <option value="{{id}}" data-status="to-do" selected="selected">To do</option>
                        <option value="{{id}}" data-status="in-progress">In Progress</option>
                        <option value="{{id}}" data-status="done">Done</option>
                    </select>
                    <button taskId="{{id}}" class="btn btn-danger delete">Delete</button>
                </div>
            </div>
            {{/equal}}
            {{/each}}
        </div>
        <div class="col-lg-4">
            <br>
            <h1 class="col-title"> In Progress </h1>
            <hr>
            {{#each tasks}}
            {{#equal status "in-progress"}}
            <div class="card" data-project-id={{project_id}}>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p style="text-align: center;"> Due Date: {{readableDate due_date}}</p>
                    <select class="target">
                        <option value="{{id}}" data-status="to-do">To do</option>
                        <option value="{{id}}" data-status="in-progress" selected="selected">In Progress</option>
                        <option value="{{id}}" data-status="done">Done</option>
                    </select>
                    <button taskId="{{id}}" class="btn btn-danger delete">Delete</button>
                </div>
            </div>
            {{/equal}}
            {{/each}}
        </div>
        <div class="col-lg-4">
            <br>
            <h1 class="col-title"> Done </h1>
            <hr>
            {{#each tasks}}
            {{#equal status "done"}}
            <div class="card" data-project-id={{project_id}}>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p style="text-align: center;"> Due Date: {{readableDate due_date}}</p>
                    <select class="target">
                        <option value="{{id}}" data-status="to-do">To do</option>
                        <option value="{{id}}" data-status="in-progress">In Progress</option>
                        <option value="{{id}}" data-status="done" selected="selected">Done</option>
                    </select>

                    <button taskId="{{id}}" class="btn btn-danger delete">Delete</button>
                </div>
            </div>
            {{/equal}}
            {{/each}}
        </div>
    </div>
<br>
    <div class="row justify-content-center">
        <a href="/projects/" class="btn btn-primary" id="dashBtn">Back to Dashboard</a>
    </div>
</div>